h1 {
	color: ##0f0e0e;
	font-size: 36 px;	
}
h2 {
	color: #23803d;
	font-size: 24 px;	
}
h3 {
	color: ##6684e2;
	font-size: 24 px;
	Comic Sans MS", cursive, sans-serif
}
h4 {
	color: #0f0e0e;
	font-size: 16 px;	
}
h5 {
	color: #23803d;
	font-size: 24 px;	
}
h6 {
	color: #ff0000;
	font-size: 30 px;	
